body{
background-color: dimgrey;
}

.cajaA{
    width:300px; 
    height:190px;
    border: 0.25cm dashed 
    rgba(194,105,91, 0.823);
    margin-bottom: 2cm;
    margin-left: 5%;
}

.cajaB{
    border-radius: 200px;
        background-color: #12D8FF;
        width: 100%; height:20%;
        border: 1cm double rgb(7, 139, 234);
}

.cajaC{
    background-color: #07fd28;
    width: 300px; height: 150px;;
    border: 35px dotted rgb(254, 77, 6);
    margin-top: 4mm;
    margin-left: 50%;
}

.cajaD{
    background-color: #ff00a2;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 200px; 
    height: 150px;;
    border: 35px groove 
    rgb(226, 255, 5);
    margin-top: 3.5cm;
    margin-left: 95%;
}

.cajaE{
    background-color: #fd0707;
    width: 500px; 
    height: 200px;
    border: 35px inset 
    rgb(95, 62, 150);
    margin-top: 3cm;
    margin-left: 5%;
}

.cajaF{
    background-color: #9f5e5e;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 200px; 
    height: 150px;;
    border: 35px solid 
    rgb(33, 207, 14);
    margin-top: 1.5cm;
    margin-left: 90%;
    margin-right: 10%;
}
